<div th:fragment="changePassword"  class="card">
    <h5 class="card-header">Thông tin người dùng</h5>
    <div class="card-body">
        <h5 class="card-title">Đổi mật khẩu</h5>
        <th:block th:if="${success_change}">
            <div th:replace="~{client/fragments/elements/alert::success(message= ${success_update} )}"></div>
        </th:block>
        <th:block th:if="${error_change}">
            <div th:replace="~{client/fragments/elements/alert::error(message= ${error_change} )}"></div>
        </th:block>
        <form th:action="@{/users/change_password}" method="POST">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Mật khẩu cũ*</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                       required>
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">Mật khẩu mới*</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword"
                       required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu*</label>
                <input type="password" class="form-control" id="confirmPassword"
                       name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
        </form>
    </div>
</div>