<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      class="light-style layout-menu-fixed layout-navbar-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/admin_file/assets/"
      data-template="vertical-menu-template-free"
>
<head th:replace="~{admin/fragments/head :: heads(pageTitle='List Users')}">
    <title></title>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!--đưa giá trị value_menu để so sánh với menu kích hoạt active-->
        <aside th:replace="~{admin/fragments/menu :: drawer-menu(value_menu = 'users')}"></aside>
        <div class="layout-page">
            <nav th:replace="~{admin/fragments/nav :: nav-bar(value_title = 'User List')}"></nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!--Content-->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card">
                                    <h5 class="card-header">List user account</h5>
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Fullname</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Address</th>
                                                <th>Role</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.id}"></td>
                                                <td>
                                                    <th:block th:if="${user.avatar != null}">
                                                        <img th:src="@{'/' + ${user.avatar}}"
                                                             th:alt-title="${user.fullName}" class="rounded-circle"
                                                             width="30" height="30"/>
                                                    </th:block>
                                                    <strong th:text="${user.fullName}"></strong>
                                                </td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.phone}"></td>
                                                <td th:text="${user.address}"></td>
                                                <td>
                                                    <span class="badge bg-label-danger me-1"
                                                          th:if="${user.role == 'ADMIN'}">Admin</span>
                                                    <span class="badge bg-label-primary me-1"
                                                          th:if="${user.role == 'USER'}">User</span>
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm btn-primary"
                                                       th:href="@{/admin/users/edit/{id}(id=${user.id})}"
                                                    >
                                                        <i class="bx bx-edit-alt me-1"></i> Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/ Striped Rows -->
                            </div>
                        </div>
                    </div>
                    <!--End Content-->
                </div>
                <footer th:replace="~{admin/fragments/footer :: footer}"></footer>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<div th:replace="~{admin/fragments/js :: js-insert}"></div>
</body>
</html>
