server:
  tomcat:
    max-swallow-size: -1
    max-http-form-post-size: -1
spring:
  datasource:
    url: ${db_url}
    username: ${db_username}
    password: ${db_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jpa:
    hibernate:
#      ddl-auto: create
      ddl-auto: update
    #    show-sql: true
    properties:
      hibernate:
        format_sql: true
        connection:
          CharSet: utf8
          characterEncoding: utf8
          useUnicode: true
  thymeleaf:
    cache: false
    mode: HTML
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace