<div th:fragment="js-insert">
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/client/lib/easing/easing.min.js"></script>
    <script src="/client/lib/waypoints/waypoints.min.js"></script>
    <script src="/client/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/client/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/client/js/color-modes.js"></script>
    <script src="/client/js/main.js"></script>
    <th:block th:if="${userInfo}">
        <script th:inline="javascript">
            let name = [[${userInfo.fullName}]];
            console.log(name);
            let nameArray = name.split(" ");
            console.log(nameArray);
            let initials = nameArray.map(word => word.charAt(0).toUpperCase()).join("");
            document.querySelectorAll(".avatar-name").forEach(element => {
                element.textContent = initials;
            });
            document.getElementById("year-ver").textContent = new Date().getFullYear().toString();
        </script>
    </th:block>
</div>