<div th:fragment="list(listValue)"  class="modal fade" id="modalScrollable" tabindex="-1" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalScrollableTitle">Khách hàng đánh giá:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                for each-->
                <th:block th:if="${#lists.isEmpty(listValue)}">
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="h5">Chưa có đánh giá nào</span>
                    </div>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(listValue)}">
                <div th:each="rating: ${listValue}">
                    <div class="border border-primary rounded bg-light p-1 m-1">
                        <div class="row d-flex">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img th:src="${rating.userAvatar}" class="rounded-circle" alt="" width="80"
                                     height="80">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-between overflow-hidden">
                                <div class="d-flex">
                                    <span class="h5" th:text="${rating.userFullName}"></span> -
                                    <span th:replace="~{client/fragments/elements/rating :: rating(rating_value = ${rating.rateStar})}"></span>
                                </div>
                                <p th:text="${rating.content}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>
</div>