<div th:fragment="success" class="alert alert-dismissible alert-success d-flex align-items-center m-2" role="alert">
    <span class="badge badge-center rounded-pill bg-success border-label-success p-3 me-2">
        <i class="fas fa-check"></i>
    </span>
    <div class="w-100 p-2 m-0">
        <h6 class="alert-heading d-flex align-items-center mb-1 fs-5">Success</h6>
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div th:fragment="error" class="alert alert-dismissible alert-danger d-flex align-items-center m-2" role="alert">
    <span class="badge badge-center rounded-pill bg-danger border-label-danger p-3 me-2">
        <i class="fas fa-exclamation"></i>
    </span>
    <div class="w-100 p-2 m-0">
        <h6 class="alert-heading d-flex align-items-center mb-1 fs-5">Error!!</h6>
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>