<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{client/fragments/head :: heads(pageTitle='Category name?')}">
    <title></title>
</head>
<body>

<div th:replace="~{client/fragments/header :: header}"></div>


<!-- Page Header Title Start -->
<div th:replace="~{client/fragments/header_page :: header_page(headerTitle='Title post?')}"></div>
<!-- Page Header Title End -->

<!-- List Restaurant Start -->
<div class="container-fluid py-5">
    <div class="container py-2">
        <div class="card p-3">
            <div class="card-title d-flex justify-content-center">
                <h3>Title post?</h3>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet aperiam

            </div>
        </div>
    </div>
</div>
<!-- List Restaurant End -->

<!-- Footer Start -->

<div th:replace="~{client/fragments/footer::footer}"></div>
<div th:replace="~{client/fragments/js::js-insert}"></div>
</body>
</html>