<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{client/fragments/head :: heads(pageTitle='Category name?')}">
    <title></title>
</head>
<body>

<div th:replace="~{client/fragments/header :: header}"></div>


<!-- Page Header Title Start -->
<div th:replace="~{client/fragments/header_page :: header_page(headerTitle='Category name?')}"></div>
<!-- Page Header Title End -->

<!-- List Restaurant Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="/client/img/res/1.webp" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">Nhà hàng 1</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Giới thiệu ngắn</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="/client/img/res/1.webp" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">Nhà hàng 1</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Giới thiệu ngắn</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="/client/img/res/1.webp" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">Nhà hàng 1</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Giới thiệu ngắn</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="/client/img/res/1.webp" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">Nhà hàng 1</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Giới thiệu ngắn</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="/client/img/res/1.webp" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">Nhà hàng 1</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Giới thiệu ngắn</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="/client/img/res/1.webp" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">Nhà hàng 1</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Giới thiệu ngắn</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List Restaurant End -->

<!-- Blog Start -->
<div class="container-fluid">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
            <!--Food Start-->
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Food End-->
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">
                        Category
                    </div>
                    <div class="p-4 rounded-bottom bg-white">
                        <h4>Giò heo phỉ thuý</h4>
                        <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                            <a href="#" class="btn btn-outline-primary"><i
                                    class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

<!-- Footer Start -->

<div th:replace="~{client/fragments/footer::footer}"></div>
<div th:replace="~{client/fragments/js::js-insert}"></div>
</body>
</html>