<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head  th:replace="~{client/fragments/head :: heads(pageTitle='User Page')}" ></head>
<body>

<div th:replace="~{client/fragments/header.html :: header}"></div>
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">User Infomation</h1>
</div>
<!-- Single Page Header End -->


<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
<!--        Content     -->
    </div>
</div>
<!-- Contact End -->
<div th:replace="client/fragments/footer::footer"></div>
<div th:replace="client/fragments/js::js-insert"></div>
</body>

</html>