<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{client/fragments/head :: heads(pageTitle='Restaurant name?')}">
    <title></title>
</head>
<body>

<div th:replace="~{client/fragments/header :: header}"></div>

<div class="d-lg-block d-none my-3 py-5">

</div>

<!-- List Restaurant Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row gy-4 d-flex align-items-stretch">
            <div class="col-lg-5 d-flex">
                <div class="restaurant-img-box position-relative border p-2 d-flex flex-column justify-content-between">
                    <img src="/client/img/res/res.jpg" alt="restaurant name" class="res-img w-100 scaleX-n1-rtl">
                </div>
            </div>
            <div class="col-lg-7 d-flex">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="my-2 py-2">Tên món ăn</h4>
                        <p>Của nhà hàng: xxx</p>
                        <div class="d-flex align-items-center">
                            <div th:insert="~{client/fragments/elements/rating :: rating(rating_value = 4.3)}"></div>

                            <span class="badge bg-warning">999+</span>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalScrollable">
                            Xem Rating
                        </button>
                        <div th:insert="~{client/fragments/rating_list :: rating}"></div>
                        <p>Thời gian đợi: xxx Giờ đóng cửa: xxx</p>
                        <p>Giá: xxx</p>
                        <th:block th:if="${userInfo}">
                        <form th:action="@{/cart/add/1}" method="post">
                            <button type="submit">Thêm vào giỏ hàng</button>
                        </form></th:block>
                        <p class="my-3 content-res">
                            If you would like to discuss anything related to payment, account, licensing,
                            partnerships, or have pre-sales questions, you’re at the right place.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List Restaurant End -->

<!-- Blog Start -->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h2 class="my-3 alert-link">Các món khác trong cửa hàng</h2>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary"><i
                                class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/client/img/category/an-trua.webp" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    Category
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4>Giò heo phỉ thuý</h4>
                    <p>Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a href="#" class="btn btn-outline-primary">
                            <i class="fas fa-location-arrow me-2"></i> Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

<!-- Footer Start -->

<div th:replace="~{client/fragments/footer::footer}"></div>
<div th:replace="~{client/fragments/js::js-insert}"></div>
</body>
</html>