<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      class="light-style layout-menu-fixed layout-navbar-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/admin/assets/"
      data-template="vertical-menu-template-free"
>
<head th:replace="~{admin/fragments/head :: heads(pageTitle='Create Restaurants')}">
    <title></title>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu"
               th:replace="~{admin/fragments/menu :: drawer-menu(value_menu = 'restaurants,restaurants_create')}"
               class="layout-menu menu-vertical menu bg-menu-theme"></aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav th:replace="~{admin/fragments/nav :: nav-bar(value_title = 'Restaurant / Create')}"></nav>


            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Restaurant/</span> Create New</h4>

                    <!-- Basic Layout -->
                    <div class="row">
                        <div class="col-xl">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">Basic Layout</h5>
                                    <small class="text-muted float-end">Default label</small>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/admin/restaurant/create}" method="POST" th:object="${restaurantForm}" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <label class="form-label" for="formName">Restaurant Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="formName" th:field="*{restaurantName}"
                                                   placeholder="Input name" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formAddress">Address</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="formAddress"
                                                   th:field="*{address}"
                                                   placeholder="Input address"
                                                   th:class="${#fields.hasErrors('formAddress')}? 'form-control fieldError' : 'form-control'"/>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="formDescription">Description</label>
                                            <textarea
                                              id="formDescription"
                                              class="form-control"
                                              name="description"
                                              placeholder="Describe about this restaurant"
                                              th:field="*{description}"
                                            ></textarea>
                                        </div>
                                </div>-->
                                        <div class="mb-3">
                                            <label class="form-label" for="formImage">Image</label>
                                            <input class="form-control" type="file" id="formImage"
                                                   th:field="*{image}"
                                                   th:class="${#fields.hasErrors('formImage')}? 'form-control fieldError' : 'form-control'">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formOpenTime">Open time</label>
                                            <input class="form-control" type="time" id="formOpenTime" th:field="*{openTime}" th:class="${#fields.hasErrors('formOpenTime')}? 'form-control fieldError' : 'form-control'">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formCloseTime">Close time</label>
                                            <input class="form-control"
                                                   type="time" id="formCloseTime"
                                                   th:field="*{closeTime}"
                                                   th:class="${#fields.hasErrors('formCloseTime')}? 'form-control fieldError' : 'form-control'">>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer th:replace="admin/fragments/footer :: footer"></footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div th:replace="admin/fragments/layout :: script"></div>

</body>
</html>
