<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Detail</title>
</head>
<body>

<h2>Order Detail</h2>

<div>
    <p>ID: <span th:text="${order.id}"></span></p>
    <p>User: <span th:text="${order.user.fullName}"></span></p>
    <p>Total Bill: <span th:text="${order.totalBill}"></span></p>
    <p>Status: <span th:text="${order.orderStatus}"></span></p>
    <!-- Add more details as needed -->
</div>

<h3>Order Items</h3>

<table>
    <thead>
    <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.orderItems}">
        <td th:text="${item.food.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.totalPrice}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
