<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="heads">
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <!--/*@thymesVar id="pageTitle" type="aj"*/-->
    <title th:text="${pageTitle}"></title>

    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="/admin_file/assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin_file/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="/admin_file/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/admin_file/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/admin_file/assets/css/demo.css" />
    <link rel="stylesheet" href="/admin_file/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/client/css/custom.css" />
    <script src="/admin_file/assets/vendor/js/helpers.js"></script>
    <script src="/admin_file/assets/js/config.js"></script>

</head>

<body>
</body>
</html>