<div th:fragment="js-insert">
    <script src="/admin_file/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/admin_file/assets/vendor/libs/popper/popper.js"></script>
    <script src="/admin_file/assets/vendor/js/bootstrap.js"></script>
    <script src="/admin_file/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/admin_file/assets/vendor/js/menu.js"></script>
    <script src="/admin_file/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="/admin_file/assets/js/main.js"></script>
    <script src="/admin_file/assets/js/dashboards-analytics.js"></script>
</div>