<nav th:fragment="nav-bar"
     class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar"
>
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <!--Title-->
            <h4 class="fw-bold py-3 mb-0">
                <span class="text-muted fw-light">AdminCP /</span>
                <span th:text="${value_title}"></span>
            </h4>
            <!--End Title-->
        </div>
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->


            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <th:block th:if="${userInfo.avatar != null}">
                        <img th:src="@{'/' + ${userInfo.avatar}}" alt class="h-auto rounded-circle"
                             width="40px"/>
                    </th:block>
                    <th:block th:unless="${userInfo.avatar != null}">
                        <div class="avatar me-2">
                                        <span class="avatar-initial rounded-circle bg-label-success">
                                            <!--Run a javascript return Avatar by Name-->
                                            <script th:inline="javascript">
                                                let name = [[${userInfo.fullName}]];
                                                let nameArray = name.split(" ");
                                                document.write(nameArray.map(word => word.charAt(0).toUpperCase()).join(""));
                                            </script>
                                        </span>
                        </div>
                    </th:block>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <th:block th:if="${userInfo.avatar != null}">
                                        <img th:src="@{'/' + ${userInfo.avatar}}" alt class="h-auto rounded-circle"
                                             width="40px"/>
                                    </th:block>
                                    <th:block th:unless="${userInfo.avatar != null}">
                                        <div class="avatar me-2">
                                        <span class="avatar-initial rounded-circle bg-label-success">
                                            <!--Run a javascript return Avatar by Name-->
                                            <script th:inline="javascript">
                                                let name = [[${userInfo.fullName}]];
                                                let nameArray = name.split(" ");
                                                document.write(nameArray.map(word => word.charAt(0).toUpperCase()).join(""));
                                            </script>
                                        </span>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="flex-grow-1">
                                    <span th:text="${userInfo.fullName}" class="fw-semibold d-block">Name</span>
                                    <small th:text="${userInfo.role}" class="text-muted">Role</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bx bx-cog me-2"></i>
                            <span class="align-middle">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>