<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      class="light-style layout-menu-fixed layout-navbar-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/admin_file/assets/"
      data-template="vertical-menu-template-free"
>
<head th:replace="~{admin/fragments/head :: heads(pageTitle='Coupon')}">
    <title></title>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .errorMessage {
        color: red !important;
        font-size: 12px;
    }

    .infoMessage {
        color: blue !important;
        font-size: 12px;
        font-style: italic;
    }
</style>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!--đưa giá trị value_menu để so sánh với menu kích hoạt active-->
        <aside th:replace="~{admin/fragments/menu :: drawer-menu(value_menu = 'coupon,couponList')}"></aside>
        <div class="layout-page">
            <!-- Nav-bar -->
            <nav th:replace="~{admin/fragments/nav :: nav-bar(value_title = 'Restaurant / Edit')}"></nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">

                    <!-- Basic Layout -->
                    <div class="row">
                        <div class="col-xl">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form th:object="${couponForm}" th:action="@{'/admin/coupon/edit/' + ${couponForm.id}}" method="post" id="couponForm">

                                        <div class="mb-3">
                                            <label class="form-label" for="couponCode">Coupon Code*</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="couponCode"
                                                   th:field="${couponForm.couponCode}"
                                                   placeholder="Coupon Code"
                                                   th:class="${#fields.hasErrors('couponCode')}? 'form-control fieldError' : 'form-control'"
                                                   maxlength="20"/>
                                            <p th:if="${#fields.hasErrors('couponCode')}" th:errors="*{couponCode}" th:errorclass="errorMessage">
                                                This field is required
                                            </p>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="couponName">Coupon Name*</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="couponName"
                                                   th:field="${couponForm.couponName}"
                                                   placeholder="Coupon Name"
                                                   th:class="${#fields.hasErrors('couponName')}? 'form-control fieldError' : 'form-control'"
                                                   maxlength="30"/>
                                            <p th:if="${#fields.hasErrors('couponName')}" th:errors="*{couponName}" th:errorclass="errorMessage">
                                                This field is required
                                            </p>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="couponDescription">Description</label>
                                            <textarea
                                              class="form-control"
                                              id="couponDescription"
                                              th:field="${couponForm.couponDescription}"
                                              placeholder="Description"
                                              th:class="${#fields.hasErrors('couponDescription')}? 'form-control fieldError' : 'form-control'"
                                              style="height: 150px;"
                                              maxlength="100"></textarea>
                                            <p th:if="${#fields.hasErrors('couponDescription')}" th:errors="*{couponDescription}" th:errorclass="errorMessage">
                                                This field is required
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-around">
                                            <div class="mb-3 mr-2">
                                                <label class="form-label">Coupon Type*</label>
                                                <select class="form-select" th:field="${couponForm.typeCoupon}" id="couponType">
                                                    <option value="DIRECT">DIRECT</option>
                                                    <option value="PERCENT">PERCENT</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 flex-grow-1 mx-2">
                                                <label class="form-label" for="couponValue">Coupon Value*</label>
                                                <input
                                                  type="number"
                                                  class="form-control"
                                                  id="couponValue"
                                                  th:field="${couponForm.couponValue}"
                                                  placeholder="Coupon Value"
                                                  th:class="${#fields.hasErrors('couponValue')}? 'form-control fieldError' : 'form-control'"/>
                                                <p th:if="${#fields.hasErrors('couponValue')}" th:errors="*{couponValue}" th:errorclass="errorMessage">
                                                    This field is required
                                                </p>
                                            </div>

                                            <div class="mb-3 flex-grow-1 ml-2">
                                                <label class="form-label" for="couponQuantity">Coupon Quantity*</label>
                                                <input type="number"
                                                       class="form-control"
                                                       id="couponQuantity"
                                                       th:field="${couponForm.couponQuantity}"
                                                       placeholder="Coupon Quantity" th:class="${#fields.hasErrors('couponQuantity')}? 'form-control fieldError' : 'form-control'"/>
                                                <p th:if="${#fields.hasErrors('couponQuantity')}" th:errors="*{couponQuantity}" th:errorclass="errorMessage">
                                                    This field is required
                                                </p>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-around">
                                            <div class="mb-3 flex-grow-1 mr-2 ">
                                                <label class="form-label" for="datePicker-startDate">Start Date*</label>
                                                <input type="date"
                                                       class="form-control"
                                                       id="datePicker-startDate"
                                                       th:field="${couponForm.startDate}"
                                                       th:class="${#fields.hasErrors('startDate')}? 'form-control
                                                        fieldError' : 'form-control'"
                                                       readonly="readonly"/>
                                                <p class="infoMessage">This field is not editable</p>
                                                <script>
                                                    <!--start date min is today-->
                                                    document.getElementById("datePicker-startDate").min = new Date().toISOString().split('T')[0];
                                                </script>
                                            </div>

                                            <div class="mb-3 flex-grow-1 mx-2">
                                                <label class="form-label" for="datePicker-endDate">End Date*</label>
                                                <input type="date"
                                                       class="form-control"
                                                       id="datePicker-endDate"
                                                       th:field="${couponForm.endDate}"
                                                       th:class="${#fields.hasErrors('endDate')}? 'form-control fieldError' : 'form-control'"
                                                       readonly="readonly"/>
                                                <p class="infoMessage">This field is not editable</p>
                                                <script>
                                                    <!--end date min is today-->
                                                    document.getElementById("datePicker-endDate").min = new Date().toISOString().split('T')[0];
                                                </script>
                                            </div>

                                        </div>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer th:replace="admin/fragments/footer :: footer"></footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div th:replace="~{admin/fragments/js :: js-insert}"></div>

</body>
<script>
    document.getElementById("couponForm").addEventListener("submit", function (event) {
        //event.preventDefault(); // Prevent the default form submission
        console.log("Form submitted:", {
            couponCode: document.getElementById("couponCode").value,
            couponName: document.getElementById("couponName").value,
            couponType: document.getElementById("couponType").value,
            couponValue: document.getElementById("couponValue").value,
            couponQuantity: document.getElementById("couponQuantity").value,
            couponDescription: document.getElementById("couponDescription").value,
            couponStartDate: document.getElementById("datePicker-startDate").value,
            couponEndDate: document.getElementById("datePicker-endDate").value,
        });
    });
</script>
</html>
