<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      class="light-style layout-menu-fixed layout-navbar-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/admin/assets/"
      data-template="vertical-menu-template-free"
>
<head th:replace="~{admin/fragments/head :: heads(pageTitle='Coupon')}">
    <title></title>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .errorMessage {
        color: red !important;
        font-size: 12px;
    }

    .item {
        margin-left: 10px;
        margin-right: 10px;
      }
</style>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside th:replace="~{admin/fragments/menu :: drawer-menu(value_menu = 'coupon,couponCreate')}"></aside>
        <div class="layout-page">
            <!-- Nav-bar -->
            <nav th:replace="~{admin/fragments/nav :: nav-bar(value_title = 'Coupon / Create')}"></nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl container-p-y row d-flex">
                    <!-- Basic Layout -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create new coupon</h5>
                            <form th:object="${couponForm}" th:action="@{/admin/coupon/create}" method="post" id="couponForm">
                                <div class="mb-3">
                                    <label class="form-label" for="couponCode">Coupon Code*</label>
                                    <input type="text"
                                           class="form-control"
                                           id="couponCode"
                                           th:field="${couponForm.couponCode}"
                                           placeholder="Coupon Code"
                                           th:class="${#fields.hasErrors('couponCode')}? 'form-control fieldError' : 'form-control'"
                                           maxlength="20"
                                           oninput="formatCouponCode(this)"/>
                                    <p th:if="${#fields.hasErrors('couponCode')}" th:errors="*{couponCode}" th:errorclass="errorMessage">
                                        This field is required
                                    </p>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="couponName">Coupon Name*</label>
                                    <input type="text"
                                           class="form-control"
                                           id="couponName"
                                           th:field="${couponForm.couponName}"
                                           placeholder="Coupon Name"
                                           th:class="${#fields.hasErrors('couponName')}? 'form-control fieldError' : 'form-control'"
                                           maxlength="30"/>
                                    <p th:if="${#fields.hasErrors('couponName')}" th:errors="*{couponName}" th:errorclass="errorMessage">
                                        This field is required
                                    </p>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="couponDescription">Description</label>
                                    <textarea
                                      class="form-control"
                                      id="couponDescription"
                                      th:field="${couponForm.couponDescription}"
                                      placeholder="Description"
                                      th:class="${#fields.hasErrors('couponDescription')}? 'form-control fieldError' : 'form-control'"
                                      style="height: 150px;"
                                      maxlength="100"></textarea>
                                    <p th:if="${#fields.hasErrors('couponDescription')}" th:errors="*{couponDescription}" th:errorclass="errorMessage">
                                        This field is required
                                    </p>
                                </div>

                                <div class="d-flex item justify-content-around">
                                    <div class="mb-3 mr-2">
                                        <label class="form-label">Coupon type*</label>
                                        <select class="form-select" th:field="${couponForm.typeCoupon}" id="couponType">
                                            <option th:each="type : ${T(vn.hdweb.team9.domain.entity.TypeCoupon).values()}"
                                                    th:value="${type}"
                                                    th:text="${type}">option
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3 flex-grow-1 mx-2">
                                        <label class="form-label" for="couponValue">Coupon Value*</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="couponValue"
                                            th:field="${couponForm.couponValue}"
                                            placeholder="Giá trị"
                                            th:class="${#fields.hasErrors('couponValue')}? 'form-control fieldError' : 'form-control'"/>
                                        <p th:if="${#fields.hasErrors('couponValue')}" th:errors="*{couponValue}" th:errorclass="errorMessage">
                                            This field is required
                                        </p>
                                    </div>

                                    <div class="mb-3 flex-grow-1 ml-2">
                                        <label class="form-label" for="couponQuantity">Coupon Quantity*</label>
                                        <input type="number"
                                               class="form-control"
                                               id="couponQuantity"
                                               th:field="${couponForm.couponQuantity}"
                                               placeholder="Số lượng" th:class="${#fields.hasErrors('couponQuantity')}? 'form-control fieldError' : 'form-control'"/>
                                        <p th:if="${#fields.hasErrors('couponQuantity')}" th:errors="*{couponQuantity}" th:errorclass="errorMessage">
                                            This field is required
                                        </p>
                                    </div>

                                </div>
                                <div class="d-flex item justify-content-around">
                                    <div class="mb-3 flex-grow-1 mr-2 ">
                                        <label class="form-label" for="datePicker-startDate">Start Date*</label>
                                        <input type="date"
                                               class="form-control"
                                               id="datePicker-startDate"
                                               th:field="${couponForm.startDate}"
                                               th:class="${#fields.hasErrors('startDate')}? 'form-control
                                                fieldError' : 'form-control'"/>
                                        <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" th:errorclass="errorMessage">
                                            This field is required
                                        </p>
                                        <script>
                                            <!--start date min is today-->
                                            document.getElementById("datePicker-startDate").min = new Date().toISOString().split('T')[0];
                                        </script>
                                    </div>

                                    <div class="mb-3 flex-grow-1 mx-2">
                                        <label class="form-label" for="datePicker-endDate">End Date*</label>
                                        <input type="date"
                                               class="form-control"
                                               id="datePicker-endDate"
                                               th:field="${couponForm.endDate}"
                                               th:class="${#fields.hasErrors('endDate')}? 'form-control fieldError' : 'form-control'"/>
                                        <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" th:errorclass="errorMessage">
                                            This field is required
                                        </p>
                                        <script>
                                            <!--end date min is today-->
                                            document.getElementById("datePicker-endDate").min = new Date().toISOString().split('T')[0];
                                        </script>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-primary">Create New</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- / Content -->

                <!-- Footer -->
                <footer th:replace="admin/fragments/footer :: footer"></footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div th:replace="~{admin/fragments/js :: js-insert}"></div>

</body>
<script>
    function formatCouponCode(input) {
        // Remove spaces and convert to uppercase
        input.value = input.value.replace(/\s+/g, '').toUpperCase();
    }

    document.getElementById("couponForm").addEventListener("submit", function (event) {
        // event.preventDefault(); // Prevent the default form submission
        console.log("Form submitted:", {
            couponCode: document.getElementById("couponCode").value,
            couponName: document.getElementById("couponName").value,
            couponType: document.getElementById("couponType").value,
            couponValue: document.getElementById("couponValue").value,
            couponQuantity: document.getElementById("couponQuantity").value,
            couponDescription: document.getElementById("couponDescription").value,
            couponStartDate: document.getElementById("datePicker-startDate").value,
            couponEndDate: document.getElementById("datePicker-endDate").value,
        });
    });
</script>
</html>
